/* *{
    border:1px solid white;
    } */
@font-face {
    font-family: 'mydigitalfont';
    src: url('fonts/digital-7.ttf');
}

body {
    background-color: #023047;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

.container {
    background-color: #023047;
    width: 550px;
    height: 400px;
    border: 4px solid white;
    margin: 100px auto 25px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.conts {
    /* border: 1px solid white; */
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.head {
    font-size: 35px;
    /* border: 1px solid white; */
    margin: 0;
    width: 180px;
    text-align: center;
}

.scorecard {
    width: 210px;
    height: 160px;

    background-color: black;
    border-radius: 10px;
    /* margin: 0px auto 20px auto; */
}

.score {
    /* border: 1px solid white; */
    font-size: 85px;
    font-weight: 500;
    color:peru;
    font-family: 'mydigitalfont';
    text-align: center;
    overflow:hidden ;
    margin: 35px auto;
    padding:0;
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.btn {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #023047;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.btn:hover {
    background-color: #022536;
}

.action-btns{
    /* border: 1px solid white; */
    width: 554px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.reset-btn {
    border: 1px solid white;
    width: 264px;
     padding: 5px 0;
    color: #023047;
    font-size: 19px;
    font-weight: bold;
    border: none;

}

.reset-btn:hover {
    background-color: #57a7cf;
}