/* *{
    border:1px solid white;
} */
body {
    background-color: #023047;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

.container {
    width: 550px;
    height: 400px;
    border: 4px solid white;
    margin: 100px auto 25px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.conts{
    /* border: 1px solid white; */
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.head {
    font-size: 42px;
    /* border: 1px solid white; */
    margin:0;
    width: 180px;
    text-align: center;
}

.scorecard {
    width: 180px;
    height: 150px;

    background-color: black;
    border-radius: 10px;
    /* margin: 0px auto 20px auto; */
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    gap:15px;
}

.btn {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #023047;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.btn:hover{
    background-color: #022536;
}
.reset-btn{
    width: 556px;
    margin:0;
    padding:5px 0;
    color:#023047;
    font-size: 18px;
    font-weight: bold;
    border:none;

}
.reset-btn:hover{
    background-color: #57a7cf;
    
}